<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TODO</title>
</head>
<body>
  <form action="/">
  <input type="type" name="name">
    <button>Click Me</click>
  </form>
</body>
</html>
