<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NAME</title>
</head>
<body>
  <% if name %>
  <h1>Hello, <%=name%></h1>
  <%end%>
  <form action="/">
    <input type="text" name="name">
  </form>
</body>
</html>
