<h1>Welcome to my blog!</h1>
<div id = "posts">

<% @posts.each do |post| %>
  <div class = "post">
    <h2>  <!-- Create a link to post here --></h2>
    <h3><!-- mention the post's author here --></h3>
    <!-- show contents of post here -->
  </div>
<% end %>
</div>

<!-- link to new post here -->
