
<div id = "post">
  <h2><!-- display the title of the post --></h2>
  <h3><!-- display the author of the post --></h3>
  <!-- display the post's content -->
</div>
<!-- have a link to index here -->
<br /><br />
<!-- link to this post's edit form here -->
<!-- have a button to delete this post here -->
