<!-- localhost:4567 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <form action="/city" method="GET">
    <input type="text" name="city" placeholder="city, state">
    <button>Jetset!</button>
  </form>
  <a href="/">search again</a>
  <p>
    <%= image %>
  </p>
  <ul>
        <%image.each do |image|%>
        <li><img src='<%= image %>'></li>
        <% end%>
  </ul>
</body>
</html>
